@import 'src/styles/_typography.scss';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #292929;

  .content {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem 0;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      list-style: none;

      li {
        width: max-content;
        color: white;

        img.logo {
          width: 50px;
          object-fit: contain;
        }

        &.sociais {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 0.5rem;

          a {
            i {
              @extend .f-16;
              cursor: pointer;
              color: white;
            }
          }
        }
      }
    }
  }

  .down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #343436;
    padding: 0.5rem 0;
    @extend .f-14;
    color: white;
  }
}
