<nav
  [@offcanvasTopAnimation]
  #navbar
  [ngClass]="{ scroll }"
  [ngStyle]="{ '--navbar-height': navbar_height + 'px' }"
>
  <div class="content">
    <a class="logo" routerLink="/">
      <img src="assets/images/logo.png" alt="logo" />
    </a>

    <div class="hamburger" [ngClass]="{ active: !navbar_hidden }">
      <button
        aria-label="menu"
        mat-icon-button
        (click)="navbar_hidden = !navbar_hidden"
      >
        <span class="line"></span>
      </button>
    </div>
  </div>
</nav>

<div [@routeAnimations]="outlet && outlet.activatedRouteData">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
